<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss} [%-5p](%F:%L) %m%n"/>
		</layout>
	</appender>
	
    <appender name="logfile" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="C:/springmvc-project.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="5MB"/>

       <param name="MaxBackupIndex" value="10"/>   
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n"/>
        </layout>
    </appender>


	<logger name="com" additivity="false">
		<level value="${LOG4J.debugLevel}"/>
		<appender-ref ref="${LOG4J.logType}"/>
	</logger>
		
	<logger name="org" additivity="false">
		<level value="${LOG4J.infoLevel}"/>
		<appender-ref ref="${LOG4J.logType}"/>
	</logger>
	 
	<root>
		<level value="${LOG4J.debugLevel}"/>
		<appender-ref ref="${LOG4J.logType}"/>
	</root>
	
</log4j:configuration>
